.PersonForm .generate-giftees-container {
  display: flex;
  justify-content: flex-end;
}

.PersonForm form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.PersonForm .add-person {
  margin-bottom: 8px;
  margin-left: 14px;
}

.PersonForm .generate-giftees {
  padding-top: 2em;
}